<div class="main-container">

  <div class="p-grid">
    <div class="p-col-4"><firebase-ui > </firebase-ui></div>
    <div class="p-col"><p-button label="Click" ></p-button></div>
    <div class="p-col">1 </div>
    <div class="p-col">1 </div>
    <div class="p-col">1 </div>
    <div class="p-col">1 </div>
    <div class="p-col">1 </div>
    <div class="p-col">1 </div>
    <div class="p-col">1 </div>
  </div>


  <!-- <div class="inicio">


    <pre>
      {{ miuser | async | json }}
    </pre>
  </div> -->
  <router-outlet></router-outlet>


</div>